@using Domain

@model IEnumerable<IGrouping<int, CatalogVersionInfo>>

@{
    Layout = null;
}

<button type="button" class="btn btn-sm j-add-catalog">Добавить справочник</button>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название справочника</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            var catalogName = group.First().CatalogName;
            var catalogId = group.Key;
            var versions = group.Where(g => g.VersionId != 0);
            <tr>
                <td>@catalogId</td>
                <td>@catalogName</td>
                <td>
                    <button type="button" class="btn btn-sm" data-catalogid="@catalogId">@(versions.Any() ? "Версии" : "Не опубликовано")</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Публикация</button>
                </td>
            </tr>
            foreach (var version in versions)
            {
                <tr class="success hidden" data-catalogid="@catalogId">
                    <td>@version.VersionId</td>
                    <td>@catalogName, версия: @version.VersionName</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-sm">Удаление</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm">Просмотр</button>
                    </td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
