@using Domain

@model List<(Catalog, List<CatalogVersion>)>

@{
    Layout = null;
}

<button type="button" class="btn btn-sm j-add-catalog">Добавить справочник</button>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название справочника</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var catalog = item.Item1;
            var versions = item.Item2;
            <tr>
                <td>@catalog.Id</td>
                <td>@catalog.Name</td>
                <td>
                    <button type="button" class="btn btn-sm" data-catalogid="@catalog.Id">@(versions.Any() ? "Версии" : "Не опубликовано")</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Публикация</button>
                </td>
            </tr>
            foreach (var version in versions)
            {
                <tr class="success hidden" data-catalogid="@catalog.Id">
                    <td>@version.Id</td>
                    <td>@catalog.Name, версия: @version.Name</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-sm">Удаление</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm">Просмотр</button>
                    </td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
